body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-image: url('../img/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.navigator {
    margin: auto;
    width: 1000px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info {
    color: rgba(243, 243, 243, 0.8);
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info span {
    padding-right: 25px;
}

.info img {
    padding-right: 3px;
    padding-left: 22px;
}

.menu {
    border-radius: 10px;
    background-color: #fbd341;
    width: 750px;
    margin-top: 10px;
}

.menu > ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menu > ul > li {
    font-weight: bold;
    height: 40px;
    line-height: 40px;

}

a {
    text-decoration: none;
}

.menu > ul > li > a {
    color: black;
}

.submenu > li > a {
    color: white;
}

.arrow {
    padding: 0 3px;
    transition: 200ms;
}

.down:hover .submenu {
    display: block;
}

.submenu {
    position: absolute;
    background-color: rgba(51, 151, 246, 0.8);
    transform: translateX(-25px);
    text-align: left;
    color: white;
    font-size: 14px;
    box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.3);
    padding: 0;
    list-style-type: none;
    display: none;
    max-width: 250px;
}

.submenu li {
    padding: 10px 30px;
    font-weight: normal;
    line-height: 1;
}

.main-offer {
    margin: 200px 0;
    width: 70%;
    height: 220px;
    background: linear-gradient(to left, rgba(0, 76, 132, 0.3), rgba(0, 76, 132, 0.6));
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.main-offer > div {
    width: 1000px;
    position: absolute;
    left: calc(50% - 500px);
}

.yellow_button {
    background-color: #fbd341;
    border-radius: 10px;
    color: black;
    padding: 15px 30px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    min-width: 200px;
}

.dots {
    width: 1000px;
    margin: 0 auto;
}

.big-dot {
    height: 14px;
    width: 14px;
    border-radius: 7px;
    margin: 120px 5px 20px;
    display: inline-block;
}

.white-opacity {
    background-color: rgba(255, 255, 255, 0.7);
}

.yellow {
    background-color: #fbd341;
}

.offers > div {
    font-weight: bold;
    width: 1000px;
    font-size: 20px;
    margin: 2% auto;
    display: flex;
}

.offers > div > div {
    margin-right: 25px;
}

.item {
    wigth: 520px;
    height: 200px;
    background-color: #f8f7f7;
    border-radius: 7px;
    padding: 12px;
    font-size: 14px;
    color: #3a3a3a;
}

.item > img {
    width: 176px;
    height: 176px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}

.text-bold {
    font-weight: bold;
}

hr {
    border: none;
    border-top: 1px solid #d0cccd;
}

.cost {
    font-size: 25px;
}

.sup-text {
    position: absolute;
    transform: translate(10px, -10px);
    font-size: 11px;
}

.yellow-circle-arrow {
    width: 20px;
    border-radius: 50%;
    background-color: #fbd341;
    padding: 15px 10px;
    transform: rotate(-90deg);
    float: right;
}

.advantages {
    background: #f8f7f7;
    padding: 2% 0;
}

.advantages > div {
    width: 1000px;
    margin: 0 auto;
}

.advantages > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.image-adv {
    width: 458px;
    height: 316px;
    background-image: url("../img/banner4.png");
    background-position: right top;
    background-size: 150% 150%;
}

.cont {
    width: 45%;
    padding-right: 5%;
}

.footer {
    flex: 0 0 auto;
    height: 500px;
    background-image: url("../img/footer.png");
    background-position: center bottom;
    background-size: 100%;
    padding: 1% 0;
}

.submit > div {
    width: 1000px;
    margin: 2% auto;
}

.form-submit {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.select {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 0;
    border-bottom: 1px solid white;
    width: 200px;
}

.select-options {
    position: absolute;
    background-color: white;
    color: black;
    font-weight: normal;
    padding: 5px;
    width: 190px;
    visibility: hidden;
    list-style: none;
}

.country:hover {
    color: #fbd341;
    cursor: pointer;
}

.bottom-div {
    width: 100%;
    min-height: 300px;
    background-color: #22334d;
    margin-top: 50px;
}

.footer-div {
    width: 1000px;
    margin: 0 auto;
}

input[type=text] {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    padding: 3px 5px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    width: 150px;
}

::-webkit-input-placeholder {
    color: white;
}

.footer-div > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    color: white;
    vertical-align: top;
}

.footer-info {
    max-width: 350px;
    min-width: 150px;
}

.footer-div ul {
    padding: 0;
    list-style: none;
}

.footer-div li {
    padding: 5px 0;
}

@media only screen and (max-width: 992px) {

    .navigator {
        justify-content: space-around;
        width: 100%;
    }

    .menu {
        width: 100%;
    }

    .menu > ul > li {
        padding: 2px;
    }

    .info-menu {
        width: 100%;
    }

    .info, .arrow {
        display: none;
    }

    .down:hover .submenu {
        display: none;
    }

    .main-offer {
        margin: 20px auto;
        width: 100%
    }

    .main-offer > div {
        width: 100%;
        padding: 10px;
        position: static;
    }

    .dots {
        width: 100%;
    }

    .offers > div {
        width: 100%;
        padding: 5px;
    }

    .advantages > div {
        width: 100%;
    }

    .advantages > div > div {
        justify-content: space-around;
    }

    .image-adv {
        margin: 10px;
    }

    .cont {
        width: 100%;
        padding: 10px;
    }

    .footer-div,
    .submit > div{
        width: 100%;
    }
}