body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-image: url('../img/banner1.png');
    background-repeat: no-repeat;
    background-size: 120%;
    /*background-position: 10%;*/
    /*max-height: 730px;*/
}

.navigator {
    margin: auto;
    max-width: 60%;
    min-width: 30%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-menu {
    min-width: 65%;
}

@media only screen and (max-device-width: 1600px) {
    .logo {
        margin: auto;
    }

    .navigator {
        justify-content: space-around;
    }

}

.info {
    color: rgba(243, 243, 243, 0.8);
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info span {
    padding-right: 25px;
}

.info img {
    padding-right: 3px;
    padding-left: 22px;
}

.menu {
    border-radius: 10px;
    background-color: #fbd341;
    max-width: 750px;
    min-width: 360px;
    width: 100%;
    float: right;
    padding: 0 10px;
    margin-top: 10px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

.menu li {
    font-weight: bold;
}

.arrow {
    padding: 0 3px;
    transform: rotate(-90deg);
    transition: 200ms;
}

.arrow:hover {
    transform: rotate(0);
}

.menu ul ul {
    position: absolute;
    background-color: rgba(51, 151, 246, 0.8);
    transform: translate(-25px, 16px);
    text-align: left;
    color: white;
    font-size: 12px;
    box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.3);
    padding: 0;
    list-style-type: none;
    display: block;
}

.menu li li {
    padding: 9px 30px;
    font-weight: normal;
}

.offer {
    margin-top: 200px;
    width: 70%;
    height: 220px;
    background: linear-gradient(to left, rgba(0, 76, 132, 0.3), rgba(0, 76, 132, 0.6));
    padding-left: 20%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.yellow_button {
    background-color: #fbd341;
    border-radius: 10px;
    color: black;
    padding: 15px 30px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
}

.dots {
    padding-left: 20%;
}

.big-dot {
    height: 14px;
    width: 14px;
    border-radius: 7px;
    margin: 120px 5px 20px;
    display: inline-block;
}

.white-opacity {
    background-color: rgba(255, 255, 255, 0.7);
}

.yellow {
    background-color: #fbd341;
}

footer {
    flex: 0 0 auto;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.3);
}



